.orderBtn,
.checkout,
.removeAll {
  padding: 0.5em 1em;
  border: 2px solid #212529;
  margin-top: 1em;
  letter-spacing: 3px;
  border-radius: 5px;
  background-color: #212529;
  color: whitesmoke;
}

.checkout {
  background-color: rgb(14, 119, 14);
}

.removeAll {
  background-color: rgb(220, 59, 38);
}

.orderBtn:hover {
  background-color: #125496;
  border: 2px solid #125496;
}

.orderBtn:active {
  border: 2px solid #212529;
  background-color: transparent;
  color: #212529;
}

.emptyCart {
  margin-top: 5em;
}

.fa-xmark {
  cursor: pointer;
  color: red;
}

.shopping-cart {
  margin-top: 5em;
  margin-bottom: 5em;
  display: grid;
  place-items: center;
  min-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 1.5em;
}

.cart-item {
  border: 1px solid red;
  display: flex;
  gap: 0.5em;
}

.title-price-close {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.product-details {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.text-center {
  margin-top: 3em;
}

.cart-btn {
  display: flex;
  align-items: center;
  gap: 1em;
}

.fa-minus,
.fa-plus {
  cursor: pointer;
  background: rgb(17, 14, 21);
  padding: 0.5em;
  border-radius: 50%;
  color: whitesmoke;
}

.subtotal-text {
  margin-bottom: 0;
}

.image-cart {
  border-radius: 78% 22% 68% 32% / 28% 80% 20% 72%;
}
