:root {
  --Cormorant-Garamond: "Cormorant Garamond", serif;
}

.contact-header {
  position: relative;
  background-image: url(assets/Contact-Coffee.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-header,
.contact-hero {
  width: 100%;
  height: 350px;
}

.contact-hero {
  position: absolute;
  background-color: rgba(30, 30, 30, 0.373);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  color: whitesmoke;
  font-weight: 900;
  font-size: 1.2rem;
}

.contact-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
}

.contact-hero-text {
  align-self: center;
  width: 70%;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: rgb(199, 228, 253);
  padding: 3rem;
}

.inputs-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

<<<<<<< HEAD
=======
.thank-message {
  background-color: rgb(253, 244, 121);
  border-radius: 10px;
  padding: 3rem 1.5rem;
}

>>>>>>> 1523026b53f90eacf67e0fe8fc490242dc9029ec
textarea {
  width: 100%;
  resize: none;
  margin-top: 2rem;
}

input {
  letter-spacing: 1px;
}

input,
select,
textarea {
  padding: 0.5rem;
  outline: none;
  font-family: var(--Cormorant-Garamond);
<<<<<<< HEAD
  border: none;
  background-color: rgba(252, 253, 243, 0.816);
}

=======
  border: 2px solid white;
  background-color: rgba(252, 253, 243, 0.816);
}

input:focus,
textarea:focus {
  border: 2px solid #9e50ecc4;
}

>>>>>>> 1523026b53f90eacf67e0fe8fc490242dc9029ec
select {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.send-btn {
  margin-top: 2rem;
<<<<<<< HEAD
  border: none;
=======
  border: 3px solid #9e50ecc4;
>>>>>>> 1523026b53f90eacf67e0fe8fc490242dc9029ec
  padding: 1rem 2rem;
  background-color: #9e50ecc4;
  font-family: var(--Cormorant-Garamond);
  letter-spacing: 2px;
  color: white;
}

.send-btn:hover {
  background-color: #cd9bffd4;
}

<<<<<<< HEAD
=======
.send-btn:active {
  border: 3px solid #9e50ecc4;
  background-color: transparent;
}

.thank-message {
  display: none;
}

.error-message {
  font-style: italic;
  font-family: var(--Cormorant-Garamond);
  padding-top: 1rem;
  display: none;
  letter-spacing: 2px;
  color: rgba(255, 46, 4, 0.934);
  font-size: 0.7rem;
}

>>>>>>> 1523026b53f90eacf67e0fe8fc490242dc9029ec
@media all and (min-width: 1024px) {
  .contact-hero-text {
    width: 40%;
  }

  .inputs-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
<<<<<<< HEAD
=======

  .thank-message {
    padding: 3rem 7rem;
  }

  .error-message {
    font-size: 1rem;
  }
>>>>>>> 1523026b53f90eacf67e0fe8fc490242dc9029ec
}
