.input_field {
  border: 1px solid black;
  outline: none;
  padding: 1em;
  resize: none;
}

.add_button {
  border: none;
  width: 150px;
}

main {
  margin-top: 1em;
}

.coffee-review {
  border-radius: 87% 13% 70% 30% / 28% 16% 84% 72%;
  display: flex;
  margin: 0 auto;
  padding: 2em;
  width: 300px;
}

.fa-brands {
  margin-right: 0.5em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#title {
  width: 100%;
  letter-spacing: 1px;
  color: rgb(16, 1, 1);
  text-align: center;
}

#textarea {
  width: 350px;
  height: 118px;
  background: #444059;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 15px;
  color: white;
  resize: none;
  font-size: 1rem;
}

.shake {
  animation: shake 0.3s;
  animation-iteration-count: 2;
}

.message {
  margin: 2em;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

::placeholder {
  color: #f7ffaf;

  line-height: 18px;
  letter-spacing: 2px;

  padding: 10px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

input:focus::placeholder {
  color: transparent;
}

.form_field {
  display: flex;
  gap: 15px;
}

#from_input,
#to_input {
  width: 125px;
  height: 40px;
  background: #444059;
  border-radius: 8px;
  outline: none;
  border: none;
  text-align: center;
  padding-inline: 20px;
  color: white;
  letter-spacing: 1px;
}

.publish {
  cursor: pointer;
  width: 347px;
  height: 61px;
  background: #2a9ca7;
  border-radius: 8px;
  border: none;
  color: #04131c;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.publish:hover {
  background: #fcbc62;
  color: white;
  transition: 0.2s ease-out;
}

.endorsements {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.display_feedback {
  list-style-type: none;
  padding: 0;
  color: #04131c;
}

.display_feedback li {
  background-color: #f6d47d;
  padding: 15px;
  border-radius: 5px;
}

.reciver,
.sender {
  font-weight: bold;
}

.reciverName,
.senderName {
  color: rgb(0, 195, 255);
  font-style: italic;
}
