:root {
  --font-alegreya: "alegreya-sans-sc", sans-serif;
  --font-forum: "Forum", cursive;
}

::selection {
  color: white;
  background: black;
}

body {
  margin: 0;
}

.nav-link {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.nav-link:after {
  content: "";
  position: absolute;
  min-width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar {
  background-color: #efe7d2;
}

.navbar-brand,
.hero-text {
  font-family: var(--font-forum);
}

.navbar-brand {
  letter-spacing: 2px;
}

.navbar-brand:hover {
  color: #4b4b4ad3;
}

.nav-link {
  padding-right: 0;
  padding-left: 0;
}

.logo {
  display: flex;
  justify-content: end;
  align-items: center;
}

.fa-mug-hot {
  font-size: 1.5rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse,
.hero-content {
  text-align: center;
}

.navbar-toggler-icon {
  width: 25px;
  height: 25px;
  padding: 1.2rem 0;
}

.navbar-toggler {
  border-radius: 50%;
}

.hero-section {
  flex-direction: column;
}

.hero-content {
  margin-inline: 1.5rem;
  margin-top: 2rem;
}

.hero-title {
  font-weight: 900;
}

.hero-text {
  line-height: 1.7rem;
}

.video {
  margin-top: 3rem;
  max-width: 100%;
  height: 100%;
}

.btn {
  border: 2px solid #feca9a;
  background-color: #feca9a;
  padding: 0.6rem 3rem;
  font-weight: 700;
}

.btn:hover {
  border: 2px solid black;
  color: #ff7e05;
  font-weight: 700;
}

@media all and (min-width: 1024px) {
  .logo {
    margin-left: 9.7rem;
  }

  .hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hero-content {
    text-align: left;
    margin-inline: 4rem;
    width: 500px;
    align-self: center;
  }

  .hero-video-container {
    object-fit: cover;
    border-radius: 10px;
  }

  .video {
    margin-top: 0;
    width: 700px;
    height: 700px;
    overflow: hidden;
  }

  .nav-link {
    margin-right: 1rem;
  }
}
