:root {
  --font-alegreya: "alegreya-sans-sc", sans-serif;
  --font-forum: "Forum", cursive;
}

::selection {
  color: rgb(231, 238, 43);
  background: #8b31e5;
}

body {
  margin: 0;
  font-family: var(--font-forum);
}

a,
.sub-btn,
.btn {
  font-family: var(--font-alegreya);
}

.nav-link,
.sub-btn {
  text-transform: uppercase;
}

.nav-link {
  display: inline-block;
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  min-width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 2px;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar {
  background-color: #efe7d2;
}

.sticky,
.order-me {
  width: 100%;
}

.sticky {
  background-color: #efe7d2;
  box-shadow: 0px 5px 6px hsl(306, 19%, 11%, 0.2);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  transition: 0.7s ease-in-out;
}

.navbar-brand,
.shop-btn,
.nav-link,
.hero-title {
  letter-spacing: 2px;
}

.navbar-brand:hover {
  color: #4b4b4ad3;
}

.nav-link {
  padding: 0.7rem 0;
}

.logo,
.container-gallery {
  display: flex;
}

.logo {
  justify-content: end;
  align-items: center;
}

.fa-mug-hot {
  font-size: 1.5rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse,
.hero-content {
  text-align: center;
}

.navbar-toggler-icon {
  width: 25px;
  height: 25px;
  padding: 1.2rem 0;
}

.navbar-toggler {
  border-radius: 50%;
}

.hero-section {
  flex-direction: column;
}

.hero-content {
  margin-top: 5rem;
}

.video {
  margin-top: 3rem;
}

.hero-content {
  margin-inline: 1.5rem;
}

.hero-text {
  line-height: 1.7rem;
}

.border-change {
  background-color: #c7a4ea;
  border-radius: 50% 50% / 0% 50%;
  padding-inline: 0.2rem;
}

.swap-color {
  background-color: #f4f0e5;
  border-radius: 50% 50% / 0% 50%;
  padding-inline: 0.2rem;
}

.video {
  height: 100%;
}

.video,
.image-product {
  max-width: 100%;
}

.btn {
  border: 2px solid #feca9a;
  background-color: #feca9a;
  padding: 0.6rem 3rem;
  font-weight: 700;
}

.btn:hover {
  border: 2px solid black;
  color: #ff7e05;
}

.flex-div {
  flex-direction: column;
}

.flex-div,
.card {
  background-color: #f4f0e5;
}

.sticky,
.products {
  padding-inline: 2rem;
}

.products {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.image-product {
  object-fit: cover;
  border-radius: 10px;
}

.card,
.shop-btn,
.subscribe-input,
.sub-btn {
  border: none;
}

.card {
  width: 200px;
}

.products-details {
  text-align: center;
  margin: 4rem;
}

.shop-btn {
  background: transparent;
}

.order-now {
  text-align: center;
}

.order-me {
  background-color: rgba(147, 80, 215, 0.516);
  align-self: center;
  padding: 5rem 0;
}

/* Subscribe Mobile */

.sub-text,
.hero-content {
  margin-inline: 4rem;
}

.sub-text {
  text-align: center;
}

.subscribe,
.container-gallery {
  margin: 5rem 3rem;
}

.subscribe {
  flex-direction: column;
}

.subscribe-input {
  outline: none;
  border-bottom: 1px solid black;
  text-align: center;
}

.sub-btn {
  cursor: not-allowed;
  background-color: black;
  color: white;
  padding: 1rem;
}

/* Gallery */

.container-gallery,
.subscribe,
.products {
  gap: 2rem;
}

.container-gallery {
  justify-content: center;
  height: 8rem;
}

.container-gallery > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.78, -0.49, 0, 1.81);
}

.container-gallery > div:hover {
  cursor: pointer;
  flex: 4;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background-color: #f4f0e5;
}

.footer-text {
  margin-bottom: 0;
}

a.link-text {
  text-decoration: none;
  color: #ff7e05;
  margin: 0;
  text-transform: lowercase;
}

.fa-brands {
  color: black;
}

.fa-brands:hover {
  color: cornflowerblue;
}

.subtext {
  text-align: center;
}

@media all and (max-width: 480px) {
  .container-gallery {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .container-gallery > div:hover {
    flex: 7;
  }
}

@media all and (min-width: 1024px) {
  .container-gallery {
    margin: 5rem 7rem;
    height: 27rem;
  }

  .logo {
    margin-left: 9.7rem;
  }

  .hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hero-content,
  .card {
    width: 400px;
  }

  .hero-content {
    text-align: left;
    align-self: center;
  }

  .hero-video-container {
    position: relative;
    width: 700px;
    height: 700px;
    overflow: hidden;
  }

  .video {
    margin-top: 0;
  }

  .nav-link {
    margin-right: 1rem;
  }

  .products {
    flex-direction: row;
    justify-content: left;
  }

  .image-product {
    height: 570px;
    object-fit: cover;
  }

  .card {
    margin-left: 3rem;
  }

  .flex-div {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
  }

  .products-details {
    margin: 3rem;
  }

  .sticky {
    padding-inline: 7rem;
  }

  /* Subscribe */

  .sub-text {
    display: none;
  }

  .subscribe {
    margin-bottom: 6rem;
    flex-direction: row;
    gap: 0;
  }

  .subscribe-input,
  .sub-btn {
    padding: 2rem;
    border: none;
  }

  .subscribe-input {
    width: 100%;
    outline: none;
    background-color: black;
    color: white;
    margin-left: 6rem;
    text-align: left;
  }

  .sub-btn {
    margin-right: 6rem;
    background-color: black;
    color: white;
    letter-spacing: 2px;
  }

  footer {
    flex-direction: row;
  }

  .subtext {
    text-align: left;
  }
}
